
.title{
    color:rgb(226, 141, 43);     
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 219, 194);
    /* 1rem=>16px */
    font-size: 2rem; 
    display: inline-block;
    width: 100%;
    margin: 10px 20px;
    padding: 6px;
    border: 1px solid rgb(214, 131, 131);
    border-radius: 6px;
}

/* . => class */
.main-title{
    background-color: cadetblue;
    font-size: 2.5rem;
    color:white;
    border: none;
    margin-left: 0px;
    width: 800px;       
}

#picture{
    text-align:center;
}

/* # => id */
#table-bmi{
    background-color:aqua;
    width: 50%;
    height: 300px;
    margin: 6px auto;
}

thead{
    background-color:aquamarine;
}

tbody{
    background-color: tomato;
}

tr{
    color:white;
}

thead tr{
    color:black;    
}

/*thead tbody tr td */

body{
    text-align: center;
    background-color: rgb(246, 255, 215);
    font-family:"標楷體", 'Arial Narrow Bold', sans-serif;
}

.image-style{
   background-color: rgb(255, 255, 255); 
   padding: 12px;
   border: 1px solid;
   border-radius: 6px;
   width: 30%;
}